@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
img {    
 width: 100px;
 height: 100px;
}

#flowers {
  color: red;
  font-family: 'Baloo Bhaina', cursive;
}
body{
 background-color: black;
}
#Flower{
 color: Red;
 font-family: 'Baloo Bhaina', cursive;
}
#Flower:hover {
 color: yellow;
}


